<section id="pricing" class="secondary-color text-center scrollto clearfix " *ngIf="opened">
  <div class="row clearfix">

    <div class="container">

      <div class="center-form panel">
        <div class="panel-body">
        <h4 class="text-center"><i class="ion-person-add"></i> Sign up</h4>

        <form [formGroup]="postForm" >
          <div class="form-group">
              <input type="text" class="form-control form-names input-lg" formControlName="name" name="namd" placeholder="name">
                <span class="ion-person form-control-icon"></span> 
            </div>
           
          <div class="form-group">
            <input type="file" (change)="onFileSelected($event)" formControlName="image" name="image" placeholder="image">
            <span class="ion-at form-control-icon"></span> 
          </div>
          <div class="form-group">
              <input type="text" class="form-control input-lg" formControlName="price" name="price" placeholder="price">
              <span class="ion-key form-control-icon"></span> 
          </div>
          <div class="form-group">
            <input type="text" class="form-control input-lg" formControlName="description" name="description" placeholder="description">
            <span class="ion-key form-control-icon"></span> 
        </div>

          <button type="submit" class="btn btn-block btn-success" (click)="saveProduct()"> Save</button>

        

        </form>

      </div>
      </div>

    </div>

  </div>
<section>

