<!--====== ABOUT PART START ======-->

<section id="about" class="about-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="about-image text-center wow fadeInUp" data-wow-duration="1.5s" data-wow-offset="100">
                    <img src="assets/images/services.png" alt="services">
                </div>
                <div class="section-title text-center mt-30 pb-40">
                    <h4 class="title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s">The future of shopping starts here</h4>
                    <p class="text wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">You don't have t worry about your old clothes anymore even best you can invest in them and buy other clothes at the best prices in the market..</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        
        <div class="row">
            <div class="col-lg-6">
                <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.2s">
                    <div class="about-icon">
                        <img src="assets/images/icon-1.png" alt="Icon">
                    </div>
                    <div class="about-content media-body">
                        <h4 class="about-title">Earn Money</h4>
                        <p class="text">the customer is what we care about the most. with our application, we provide the best user experience available today with the latest technologies deployed.</p>
                    </div>
                </div> <!-- single about -->
            </div>
            <div class="col-lg-6">
                <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.4s">
                    <div class="about-icon">
                        <img src="assets/images/icon-2.png" alt="Icon">
                    </div>
                    <div class="about-content media-body">
                        <h4 class="about-title"> For everyone</h4>
                        <p class="text">Poorly designed presentations are a thing of the past. Create beautiful and high-quality content that is aligned.</p>
                    </div>
                </div> <!-- single about -->
            </div>
            <div class="col-lg-6">
                <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.6s">
                    <div class="about-icon">
                        <img src="assets/images/icon-3.png" alt="Icon">
                    </div>
                    <div class="about-content media-body">
                        <h4 class="about-title">Work anywhere</h4>
                        <p class="text">Just stay connected to earn money and have business </p>
                    </div>
                </div> <!-- single about -->
            </div>
            <div class="col-lg-6">
                <div class="single-about d-sm-flex mt-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.8s">
                    <div class="about-icon">
                        <img src="assets/images/icon-4.png" alt="Icon">
                    </div>
                    <div class="about-content media-body">
                        <h4 class="about-title">Updated in real time</h4>
                        <p class="text">Poorly designed presentations are a thing of the past. Create beautiful and high-quality content that is aligned.</p>
                    </div>
                </div> <!-- single about -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>



