::ng-deep .ng-sidebar{
    
    width: 400px;
    height: 500px;
    padding: 2em 3em;
  
}
ng-sidebar-container{
    height: 300px;
    width: 600px;
}
.btn.btn-round {
    border-radius: 30px;
}
.btn.btn-primary {
    color: #fff;
    background-color: #20c997;
    border-color: #20c997;
    
   
}
#sign{
position: absolute;
top:0 px ;
right: 300px;
}
#hide{
    position: absolute;
    right:42px;
    width: 308px;
    top: 27px;

    
    }
    #sidebar{
        position: relative;
        left:115px;
        top: 100px;
        right: 300px;
    }
    #sidebar-content{
        position: relative;
        right: 150px;
        bottom:  0px;
        height: 300px;
    }
   #ng-sidebar{
    position: relative;
    top: 15px;
    height: 300px;
    width: 300px;
    right: 350px;
    background-color: blanchedalmond;

   }
   #signIn{

   }
