<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">
  
      <div class="container">
  
        <div class="center-form panel">
          <div class="panel-body">
          <h4 class="text-center"><i class="ion-log-in"></i> Login</h4>
  
          <form [formGroup]="loginForm" action="/profile"  required
       >
            <div class="form-group">
              
              <input  type="text" class="form-control input-lg" name="email"  placeholder="Email" formControlName="email">
             
              <span class="ion-at form-control-icon"></span> 
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" name="password"  placeholder="Password" formControlName="password">
                <span class="ion-key form-control-icon"></span> 
            </div>
  
    <button type="submit" class="btn btn-block btn-success" (click)="hide()" > Login</button>
    <router-outlet></router-outlet>
              
  
            
  
          </form>
  
        </div>
        </div>
  
      </div>
  
    </div>
  <section>
  
