<section id="contact" class="contact-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center pb-20">
                    <h3 class="title">Get in touch</h3>
                    <p class="text">the customer is what we care about the most. with our application, we provide the best user experience available today with the latest technologies deployed.!</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-two mt-50 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
                    <h4 class="contact-title">Lets talk about the project</h4>
                    <p class="text">Our team of creative, technical and strategic specialists work with clients of all sizes across a diverse range of digital projects. Let’s talk about how we can help define your next project..</p>
                    <ul class="contact-info">
                        <li><i class="lni-money-location"></i> jed el hak  St, Mannouba, Tunisia</li>
                        <li><i class="lni-phone-handset"></i> +216 23 402 583</li>
                        <li><i class="lni-envelope"></i> zidijedelhak@hotmail.com</li>
                    </ul>
                </div> <!-- contact two -->
            </div>
            <div class="col-lg-6">
                <div class="contact-form form-style-one mt-35 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
                    <form [formGroup] id="contact-form" action="assets/contact.php" method="post">
                        <div class="form-input mt-15">
                            <label>Name</label>
                            <div class="input-items default">
                                <input type="text" placeholder="Name" name="name" formControlName="firstName">
                                <i class="lni-user"></i>
                            </div>
                        </div> <!-- form input -->
                        <div class="form-input mt-15">
                            <label>Email</label>
                            <div class="input-items default">
                                <input type="email" placeholder="Email" name="email" formControlName="email">
                                <i class="lni-envelope"></i>
                            </div>
                        </div> <!-- form input -->
                        <div class="form-input mt-15">
                            <label>Massage</label>
                            <div class="input-items default">
                                <textarea placeholder="Massage" name="massage" formControlName="message"></textarea>
                                <i class="lni-pencil-alt"></i>
                            </div>
                        </div> <!-- form input -->
                        <p class="form-message"></p>
                        <div class="form-input rounded-buttons mt-20">
                            <button type="submit" class="main-btn rounded-three">Submit</button>
                        </div> <!-- form input -->
                    </form>
                </div> <!-- contact form -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

