<section class="header-area">
    <div class="navbar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="#">
                            <img src="assets/images/logo.png" alt="Logo">
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEight" aria-controls="navbarEight" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarEight">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="page-scroll" routerLink="/Home" >HOME</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" routerLink="/about">ABOUT</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" routerLink="/portfolio">PORTFOLIO</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" routerLink="/pricing">PRICING</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" routerLink="/testimontial">CLIENTS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" routerLink="/contact">CONTACT</a>
                                </li>
                            </ul>
                        </div>

                        <div class="navbar-btn d-none mt-15 d-lg-inline-block">
                            <a class="menu-bar" href="#side-menu-right"><i class="lni-menu"></i></a>
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- navbar area -->
</section>
