<section id="call-action" class="call-action-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="call-action-content mt-45">
                    <h3 class="action-title">Get latest updates!</h3>
                    <p class="text">We never spam your email</p>
                </div> <!-- call action content -->
            </div>
            <div class="col-lg-7">
                <div class="call-action-form mt-50">
                    <form action="#">
                        <input type="text" placeholder="Enter your email">
                        <div class="action-btn rounded-buttons">
                            <button class="main-btn rounded-three">subscribe</button>
                        </div>
                    </form>
                </div> <!-- call action form -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
