
<app-navbar></app-navbar>   
<app-slider  ></app-slider>
<app-about *ngIf="!toggle()"  ></app-about>
<app-portfolio  *ngIf="!toggle()" ></app-portfolio>
<app-testimontial *ngIf="!toggle()" ></app-testimontial>
<app-contact *ngIf="!toggle()" ></app-contact>
<app-footer *ngIf="!toggle()" ></app-footer>  
<router-outlet></router-outlet>


