
<!-- A <ng-sidebar-container id="toggledSidebar">
 
    
    <ng-sidebar [opened]="opened">
      <p>Sign In</p>
      <button class="main-btn rounded-three" (click)="toggleSidebar()"> Hide</button>
    </ng-sidebar>

    <div ng-sidebar-content>
      <button  class="main-btn rounded-three" (click)="toggleSidebar()">Toggle sidebar</button>
    </div>

  </ng-sidebar-container>sidebar -->
    
  