<div class="sidebar-right">
    <div class="sidebar-close">
        <a class="close" href="#close"><i class="lni-close"></i></a>
    </div>
    <div class="sidebar-content">
        <div class="sidebar-logo text-center">
            <a href="#"><img src="assets/images/logo-alt.png" alt="Logo"></a>
        </div> <!-- logo -->
        <div class="sidebar-menu">
            <ul>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">RESOURCES</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div> <!-- menu -->
        <div class="sidebar-social d-flex align-items-center justify-content-center">
            <span>FOLLOW US</span>
            <ul>
                <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
            </ul>
        </div> <!-- sidebar social -->
    </div> <!-- content -->
</div>
<div class="overlay-right"></div>
