<section id="pricing" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">
  
      <div class="container">
  
        <div class="center-form panel">
          <div class="panel-body">
          <h4 class="text-center"><i class="ion-person-add"></i> Sign up</h4>
  
          <form [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)">
            <div class="form-group">
                <input type="text" class="form-control form-names input-lg" formControlName="firstName" name="firstName" placeholder="First Name">
                <input type="text" class="form-control form-names input-lg" formControlName="lastName" name="lastName" placeholder="Last name">
                  <span class="ion-person form-control-icon"></span> 
              </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" formControlName="email" name="email" placeholder="Email">
              <span class="ion-at form-control-icon"></span> 
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" formControlName="password" name="password" placeholder="Password">
                <span class="ion-key form-control-icon"></span> 
            </div>
  
            <button type="submit" class="btn btn-block btn-success"> Sign up</button>
  
            <p class="text-center">
              <small>Aleary have an account! <a routerLink="/login"> Login</a></small>
  
            </p>
  
          </form>
  
        </div>
        </div>
  
      </div>
  
    </div>
  <section>
  
