<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div id="profile" class="container ">
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="panel rounded shadow">
            <div class="panel-body">
                <div class="inner-all">
                    <ul class="list-unstyled">
                        <li class="text-center">
                            <img data-no-retina="" class="img-circle img-responsive img-bordered-primary" *ngIf='imageAct' [src]="imgUrl" >
                            <div class="container row">
                                <div class="col-md-12">
                                    <div *ngIf=convertedImage>
                                        <img *ngIf='!imageAct'[src]="convertedImage">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="text-center">
                            <h4 class="text-capitalize">{{this.values['last_name']}} </h4>
                            <p class="text-muted text-capitalize">web designer</p>
                        </li>
                        <li>
                            
                            <input type="file" (change)="onFileSelected($event)" id="selectPicture">
                            <button type="submit" (click)="onUpload()">Edit Picture</button>
                        </li>
                        <li><br></li>
                        <li>
                            <div class="btn-group-vertical btn-block">
                                <a href="" class="btn btn-default"><i class="fa fa-cog pull-right"></i>Edit Account</a>
                                <a href="" class="btn btn-default"><i class="fa fa-sign-out pull-right"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!-- /.panel -->

        <div class="panel panel-theme rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">Contact</h3>
                </div>
                <div class="pull-right">
                    <a href="#" class="btn btn-sm btn-success"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="btn btn-sm btn-success"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="btn btn-sm btn-success"><i class="fa fa-google-plus"></i></a>
                </div>
                <div class="clearfix"></div>
            </div><!-- /.panel-heading -->
            <div class="panel-body no-padding rounded">
                <ul class="list-group no-margin">
                    <li class="list-group-item"><i class="fa fa-envelope mr-5"></i> support@bootdey.com</li>
                    <li class="list-group-item"><i class="fa fa-globe mr-5"></i> www.bootdey.com</li>
                    <li class="list-group-item"><i class="fa fa-phone mr-5"></i> +6281 903 xxx xxx</li>
                </ul>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->

    </div>
    <div class="col-lg-9 col-md-9 col-sm-8">

    <div class="profile-cover">
        <div class="cover rounded shadow no-overflow">
            <div class="inner-cover">
                <!-- Start offcanvas btn group menu: This menu will take position at the top of profile cover (mobile only). -->
                <div class="btn-group cover-menu-mobile hidden-lg hidden-md">
                    <button type="button" class="btn btn-theme btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu pull-right no-border" role="menu">
                        <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Photos</span> <small>(98)</small></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>
                        <li><a href="#"><i class="fa fa-fw fa-envelope"></i> <span>Messages</span> <small>(7 new)</small></a></li>
                    </ul>
                </div>
                <img  src="https://bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg" class="img-responsive full-width" alt="cover" style="max-height:200px;">
            </div>
            <ul class="list-unstyled no-padding hidden-sm hidden-xs cover-menu">
                <li class="active"><a href="#"><i class="fa fa-fw fa-clock-o"></i> <span>Timeline</span></a></li>
                <li><a href="#"><i class="fa fa-fw fa-user"></i> <span>About</span></a></li>
                <li><a href="#"><i class="fa fa-fw fa-photo"></i> <span>Photos</span> <small>(98)</small></a></li>
                <li><a href="#"><i class="fa fa-fw fa-users"></i><span> Friends </span><small>(23)</small></a></li>
                
            </ul>
        </div><!-- /.cover -->
    </div><!-- /.profile-cover -->
    <div class="divider"></div>
    <div class="panel rounded shadow">
    </div>
    
      <app-post-product></app-post-product>
      <router-outlet></router-outlet>
    
        <div class="panel-footer">
            

            <button class="btn btn-success pull-right mt-5" (click)="post()">POST</button>
            <div class="container">

              <div class="row">
              
                <div class="col-lg-3">
          
                  <h1 class="my-4">SHOP</h1>
                  <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                  </div>
          
                </div>
                
              </div>
            
            <div class="col-lg-9">
      
             
              <div class="row">
      
                <div class="col-lg-4 col-md-6 mb-4"*ngFor="let c of this.products">
                  <div class="card h-100">
                    <a href="#"><img class="card-img-top" [src]="c.image"  height="200"></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">{{c.name}}</a>
                      </h4>
                      <h5>{{c.price}}</h5>
                      <p class="card-text">{{c.description}}</p>
                    </div>
                    <div class="card-footer">
                            <button class="btn btn-primary">Add Cart</button>
                    </div>
                  </div>
          
                </div>
      
                
      
               
      
               
      
              </div>
              <!-- /.row -->
      
            </div>
          
            <ul class="nav nav-pills">
                <li><a href="#"><i class="fa fa-user"></i></a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                <li><a href="#"><i class="fa fa-camera"></i></a></li>
                <li><a href="#"><i class="fa fa-smile-o"></i></a></li>
            </ul><!-- /.nav nav-pills -->
        </div><!-- /.panel-footer -->
    </div><!-- /.panel -->
   
    
        <!--shop template-->
 <!-- Navigation -->
 

  <!-- Page Content -->
  
  


      <!-- /.col-lg-3 -->
     
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
</div>
  
  <!-- /.container -->
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

